@font-face {
  font-family: "Moderne Sans";
  src: url("./fonts/Moderne-Sans.ttf") format("truetype");
}

@font-face {
  font-family: Qontra;
  src: url("./fonts/Qontra.otf") format("truetype");
}

@font-face {
  font-family: Anson;
  src: url("./fonts/Anson.otf") format("truetype");
}
